<div class="d-flex justify-content-center align-items-center">
    <img style="height:150px " src="https://img.pikbest.com/png-images/20190918/cartoon-snail-loading-loading-gif-animation_2734139.png!sw800" />
</div>